.about {
  padding: 190px 0 199px;

  &__title {
    @include mobile {
      max-width: 260px;
      text-align: center;

      &::after {
        right: 54px;
        top: 30px;
      }
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 20.14%);
    max-width: 1080px;
    font: var(--light-font);
    gap: 30px 11.11%;

    @include small-tablet {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: none;
    }
  }

  @include tablet {
    padding: 140px 0;
  }

  @include small-tablet {
    padding: 90px 0;
  }

  @include mobile {
    padding: 65px 0;
  }
}
