.blog {
  padding-bottom: 200px;

  &__title {
    margin-bottom: 229px;
  }

  &__slider {
    position: relative;
    cursor: grab;
  }
}

.content {
  min-height: 800px;
  background: center bottom/cover no-repeat;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(36, 33, 33, 0.5);
  }

  &__inner {
    display: flex;
    align-items: center;
    margin-right: 19%;
    margin-left: auto;
    width: 100%;
    min-height: 800px;
    max-width: 605px;

    @include tablet {
      margin-right: 3%;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    font: var(--normal-font);
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: var(--color-white);

    @include tablet {
      font-size: 30px;
      line-height: 38px;
    }

    @include small-tablet {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__descr {
    display: block;
    font: var(--light-font);
    text-transform: initial;
    opacity: 0.7;
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: var(--color-white);
    opacity: 1;
    transition: background-color 0.2s;

    &-active {
      background-color: var(--color-persian);
      opacity: 1;
    }

    &:hover,
    &:focus {
      background-color: var(--color-persian);
    }
  }
}

.swiper-container-horizontal {
  .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7.5px;

    @include mobile {
      margin: 0 4px;
    }
  }

  .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 77px;
    line-height: 0;
  }
}
