.education {
  display: flex;
  overflow: hidden;
  padding-bottom: 200px;

  &__content {
    display: flex;
    flex: 0 0 100%;
  }

  @include tablet {
    padding-bottom: 140px;
  }

  @include small-tablet {
    display: block;
    padding-bottom: 90px;
  }

  @include mobile {
    padding-bottom: 70px;
  }
}

.school {
  padding: 200px 89px 0 0;
  width: 50%;

  &__title {
    text-align: center;

    @include tablet {
      width: 66%;
    }

    @include small-tablet {
      width: auto;
    }
  }

  &__description {
    font: var(--light-font);

    p:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include tablet {
    padding: 140px 40px 0 0;
  }

  @include small-tablet {
    padding: 90px 0 30px;
    width: 100%;
  }

  @include mobile {
    padding-top: 65px;
  }
}

.surf {
  position: relative;
  flex: 0 0 50%;
  padding: 0 0 44.27%;
  transform: translate(-100%, 0);

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include small-tablet {
    padding: 0 0 56.25%;
    transform: translate(0);
  }
}
