.footer {
  &__title {
    margin-bottom: 242px;

    @include tablet {
      margin-bottom: 140px;
    }

    @include small-tablet {
      margin-bottom: 70px;
    }

    @include mobile {
      margin-bottom: 50px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 203px;

    @include tablet {
      margin-bottom: 140px;
    }

    @include small-tablet {
      flex-direction: column;
      align-items: center;
    }

    @include mobile {
      margin-bottom: 65px;
    }
  }

  &__form {
    width: 100%;
    max-width: 47.417%;

    @include small-tablet {
      margin-bottom: 40px;
      max-width: 569px;
    }
  }

  &__copy {
    padding: 65px 0 68px;
    background-color: var(--color-persian);

    .logo {
      margin: 0 auto;

      @include small-tablet {
        width: 50px;
        height: 50px;
      }
    }

    @include tablet {
      padding: 35px 0;
    }

    @include small-tablet {
      padding: 15px 0;
    }
  }
}

.form {
  &__field {
    display: block;
    margin-bottom: 32px;
    outline: transparent;
    border: none;
    border-bottom: 2px solid #dadada;
    padding-bottom: 20px;
    width: 100%;
    height: 38px;
    font-size: 18px;
    line-height: 18px;

    &::placeholder {
      font-size: 18px;
      line-height: 18px;
      color: var(--color-persian);
    }

    &:focus {
      border-bottom: 2px solid var(--color-black);
    }
  }

  &__btn {
    padding: 25px 114px;

    @include mobile {
      padding: 20px 15px;
    }
  }

  textarea {
    margin: 52px 0 73px;
    height: 156px;
    resize: none;

    &::placeholder {
      max-width: 260px;
    }
  }
}

.contacts {
  padding: 49px 52px 71px;
  width: 100%;
  max-width: 50%;
  background-color: var(--color-alabaster);

  &__text {
    font-style: normal;

    &:not(:last-child) {
      margin-bottom: 65px;

      @include mobile {
        margin-bottom: 45px;
      }
    }

    @include mobile {
      font-size: 19px;
    }
  }

  &__phone {
    color: var(--color-main);
    transition: color 0.3s;

    @include desktop {
      &:hover {
        color: var(--color-persian);
      }
    }
  }

  @include tablet {
    padding: 49px 10px 71px 30px;
  }

  @include small-tablet {
    padding: 30px 15px;
    max-width: 600px;
  }
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;

  &__item:not(:last-child) {
    margin-right: 15px;

    @include mobile {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__link {
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-main);
    transition: color 0.3s;

    @include desktop {
      &:hover,
      &:focus {
        color: var(--color-persian);
      }
    }
  }

  @include tablet {
    margin-bottom: 140px;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  @include mobile {
    margin-bottom: 65px;
  }
}
