.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  overflow: hidden;
  padding: 35px 0;
  width: 100%;

  &__container {
    align-items: center;
  }

  &__left {
    grid-column: 3 span;
  }

  &__right {
    display: flex;
    justify-content: flex-start;
    grid-column: 13 span;
    margin-left: 20px;
  }
}

.logo {
  display: block;
  width: 60px;
  height: 63px;

  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__link {
    font: var(--normal-font);
    color: var(--color-white);
  }
}
