@import "../mixins";

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  padding: 35px 0;
  width: 100%;

  &__container {
    align-items: center;
  }

  &__left {
    grid-column: 3 span;
  }

  &__right {
    display: flex;
    justify-content: flex-start;
    grid-column: 13 span;
    margin-left: 20px;
  }
}

.logo {
  display: block;
  width: 60px;
  height: 63px;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.menu {
  &__list {
    display: flex;

    @include tablet {
      position: absolute;
      left: 0;
      top: -200vw;
      z-index: 15;
      display: block;
      border-bottom: 1px solid var(--color-persian);
      width: 100%;
      background-color: #003b43;
      transition: top 0.3s;

      &--visible {
        top: 135px;
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;

      @include tablet {
        margin-right: 0;
      }
    }
  }

  &__link {
    position: relative;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    color: var(--color-white);

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -1px;
      width: 0;
      height: 0.5px;
      background-color: var(--color-persian);
      transition: width 0.3s;
    }

    &--active {
      border-bottom: 1px solid var(--color-persian);

      &::before {
        display: none;
      }
    }

    @include desktop {
      &:hover::before {
        left: 0;
        width: 100%;
        background-color: var(--color-persian);
      }
    }

    @include tablet {
      display: block;
      border-top: 1px solid var(--color-persian);
      border-bottom: none;
      padding: 20px 25px;
      width: 100%;
      text-align: center;
    }
  }
}

.burger {
  position: absolute;
  right: 30px;
  top: 40px;
  display: none;
  -webkit-tap-highlight-color: transparent;
  transform: scale(1.5);
  transition: transform 400ms;
  user-select: none;

  &__line {
    fill: none;
    stroke: var(--color-white);
    stroke-linecap: round;
    stroke-width: 5.5;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  }

  .top {
    stroke-dasharray: 40 172;
  }

  .middle {
    stroke-dasharray: 40 111;
  }

  .bottom {
    stroke-dasharray: 40 172;
  }

  &.active {
    .top {
      stroke-dashoffset: -132px;
    }

    .middle {
      stroke-dashoffset: -71px;
    }

    .bottom {
      stroke-dashoffset: -132px;
    }
  }

  @include tablet {
    display: block;
  }
}
