.hero {
  position: relative;
  height: 100vh;
  background: center/cover no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88%;
  }

  &__title {
    margin: 0;
    font: var(--normal-font);
    text-align: center;
    color: var(--color-black);

    @include mobile {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__descr {
    display: block;
    padding-left: 44px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 200px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--color-firefly);
    user-select: none;

    @include tablet {
      padding-left: 0;
    }

    @include small-tablet {
      font-size: 120px;
    }

    @include mobile {
      font-size: 75px;
    }
  }

  &__btn {
    position: absolute;
    left: 49.5%;
    bottom: 92px;
    width: 20px;
    height: 69px;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--color-white);
      object-fit: cover;
      transition: fill 0.3s;
    }

    &--moving {
      animation-name: moving;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }

    @include desktop {
      &:hover,
      &:focus {
        svg {
          fill: var(--color-persian);
        }
      }
    }

    @include landscape {
      bottom: 22px;
      width: 20px;
      height: 45px;
    }
  }
}

@keyframes moving {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(8%);
  }

  100% {
    transform: translateY(0%);
  }
}
