.indicators {
  padding-bottom: 198px;

  &__items {
    display: flex;
    justify-content: center;

    @include mobile {
      flex-wrap: wrap;
      margin: -10px 0;
    }
  }

  &__item {
    font: var(--bold-font);
    text-align: center;
    color: var(--color-cyprus);

    &:not(:last-child) {
      margin-right: 8.34%;

      @include mobile {
        margin-right: 0;
      }
    }

    @include small-tablet {
      font-size: 46px;
    }

    @include mobile {
      margin: 10px 0;
      width: 50%;
      font-size: 38px;
    }
  }

  &__text {
    display: block;
    margin-top: 5px;
    font: var(--light-font);
  }

  @include tablet {
    padding-bottom: 140px;
  }

  @include small-tablet {
    padding-bottom: 90px;
  }

  @include mobile {
    padding-bottom: 65px;
  }
}
