.location {
  padding: 199px 15px;

  &__inner {
    margin: 0 auto;
    height: 640px;
    max-width: 1473px;

    @include tablet {
      height: 440px;
    }

    @include small-tablet {
      height: 370px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include tablet {
    padding: 140px 15px;
  }

  @include small-tablet {
    padding: 50px 15px 90px;
  }

  @include mobile {
    padding: 35px 15px 65px;
  }
}
