.show {
  padding: 200px 0;
}

.video {
  position: relative;
  padding-bottom: 50%;
  width: 100%;
  height: 0;
  background-color: var(--color-black);

  &__media {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    width: 100%;
    height: 100%;
  }

  &__button {
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
    width: 90px;
    height: 90px;
    transform: translate(-50%, -50%);

    svg {
      width: 100%;
      height: 100%;
      fill: #373a39;
      object-fit: cover;
      transition: fill 0.3s ease-in-out;
    }

    @include tablet {
      width: 65px;
      height: 65px;
    }

    @include small-tablet {
      width: 44px;
      height: 44px;
    }
  }

  @include tablet {
    padding-bottom: 56.25%;
  }
}

.video:hover .video__button svg,
.video__button:focus svg {
  fill: var(--color-white);
}

.video--enabled {
  cursor: pointer;

  .video__button {
    display: block;
  }
}
