.teams {
  padding-bottom: 204px;

  &__title {
    margin-bottom: 212px;

    @include tablet {
      margin-bottom: 140px;
    }

    @include small-tablet {
      margin-bottom: 70px;
    }

    @include mobile {
      margin-bottom: 50px;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;

    @include tablet {
      flex-wrap: wrap;
      margin: 0 -15px;
    }

    @include small-tablet {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  }

  @include tablet {
    padding-bottom: 140px;
  }

  @include small-tablet {
    padding-bottom: 90px;
  }

  @include mobile {
    padding-bottom: 65px;
  }
}

.team {
  width: 100%;
  max-width: 330px;
  text-align: center;

  &__avatar {
    min-height: 450px;
    line-height: 0;
    background: center/cover no-repeat;

    &-img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin: 25px 0 1px;
    font: var(--bold-font);
    font-size: 18px;
    line-height: 18px;
  }

  &__descr {
    font-size: 14px;
    line-height: 18px;
  }

  &:not(:last-child) {
    margin-right: 8.75%;

    @include tablet {
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  @include tablet {
    margin: 0 15px;
  }

  @include small-tablet {
    margin: 0;
  }
}
