<section class="blog">
  <div class="container">
    <h2 class="blog__title title">
      Блог
      <svg>
        <use xlink:href="img/sprite.svg#slash"></use>
      </svg>
    </h2>
  </div>
  <div class="blog__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="content" style=background-image:url(img/blog.jpg);>
          <div class="content__inner">
            <div class="container">
              <p class="content__title">
                ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content" style=background-image:url(img/hero-bg.jpg);>
          <div class="content__inner">
            <div class="container">
              <p class="content__title">
                ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content" style=background-image:url(img/blog.jpg);>
          <div class="content__inner">
            <div class="container">
              <p class="content__title">
                ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content" style=background-image:url(img/hero-bg.jpg);>
          <div class="content__inner">
            <div class="container">
              <p class="content__title">
                ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content" style=background-image:url(img/blog.jpg);>
          <div class="content__inner">
            <div class="container">
              <p class="content__title">
                ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content" style=background-image:url(img/hero-bg.jpg);>
          <div class="content__inner">
            <div class="container">
              <p class="content__title">
                ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content" style=background-image:url(img/blog.jpg);>
          <div class="content__inner">
            <div class="container">
              <p class="content__title">
                ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content" style=background-image:url(img/hero-bg.jpg);>
          <div class="content__inner">
            <div class="container">
              <p class="content__title">
                ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content" style=background-image:url(img/blog.jpg);>
          <div class="content__inner">
            <div class="container">
              <p class="content__title">
                ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content" style=background-image:url(img/hero-bg.jpg);>
          <div class="content__inner">
            <div class="container">
              <p class="content__title">
                ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
