<section class="blog" id="blog">
  <div class="container">
    <h2 class="blog__title title">
      Блог
    </h2>
  </div>
  <div class="blog__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <article class="content" style=background-image:url(img/blog.jpg);>
          <div class="content__inner">
            <div class="container">
              <h3 class="content__title">
                что необходимо взять с собой на серф тур
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </h3>
            </div>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="content" style=background-image:url(img/hero-bg.jpg);>
          <div class="content__inner">
            <div class="container">
              <h3 class="content__title">
                что необходимо взять с собой на серф тур
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </h3>
            </div>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="content" style=background-image:url(img/blog.jpg);>
          <div class="content__inner">
            <div class="container">
              <h3 class="content__title">
                что необходимо взять с собой на серф тур
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </h3>
            </div>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="content" style=background-image:url(img/hero-bg.jpg);>
          <div class="content__inner">
            <div class="container">
              <h3 class="content__title">
                что необходимо взять с собой на серф тур
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </h3>
            </div>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="content" style=background-image:url(img/blog.jpg);>
          <div class="content__inner">
            <div class="container">
              <h3 class="content__title">
                что необходимо взять с собой на серф тур
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </h3>
            </div>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="content" style=background-image:url(img/hero-bg.jpg);>
          <div class="content__inner">
            <div class="container">
              <h3 class="content__title">
                что необходимо взять с собой на серф тур
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </h3>
            </div>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="content" style=background-image:url(img/blog.jpg);>
          <div class="content__inner">
            <div class="container">
              <h3 class="content__title">
                что необходимо взять с собой на серф тур
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </h3>
            </div>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="content" style=background-image:url(img/hero-bg.jpg);>
          <div class="content__inner">
            <div class="container">
              <h3 class="content__title">
                что необходимо взять с собой на серф тур
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </h3>
            </div>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="content" style=background-image:url(img/blog.jpg);>
          <div class="content__inner">
            <div class="container">
              <h3 class="content__title">
                что необходимо взять с собой на серф тур
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </h3>
            </div>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="content" style=background-image:url(img/hero-bg.jpg);>
          <div class="content__inner">
            <div class="container">
              <h3 class="content__title">
                что необходимо взять с собой на серф тур
                <span class="content__descr">
                  ТОП 20 необходимых вещей для комфортного отдыха и обучения
                </span>
              </h3>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
