<section class="gallery">
  <div class="container">
    <h2 class="gallery__title title">
      Галерея
      <svg>
        <use xlink:href="img/sprite.svg#slash"></use>
      </svg>
    </h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <button class="gallery__btn" type="button" data-filter="all">Все</button>
      </li>
      <li class="gallery__item">
        <button class="gallery__btn" type="button" data-filter=".tourists">Туристы</button>
      </li>
      <li class="gallery__item">
        <button class="gallery__btn" type="button" data-filter=".nature">Природа</button>
      </li>
      <li class="gallery__item">
        <button class="gallery__btn" type="button" data-filter=".profes">Профи</button>
      </li>
    </ul>
    <div class="gallery__inner">
      <div class="picture mix tourists picture--large">
        <img class="picture__img" src="img/picture-1.jpg" alt="">
      </div>
      <div class="picture mix tourists">
        <img class="picture__img" src="img/picture-2.jpg" alt="">
      </div>
      <div class="picture mix tourists profes">
        <img class="picture__img" src="img/picture-3.jpg" alt="">
      </div>
      <div class="picture mix tourists profes">
        <img class="picture__img" src="img/picture-4.jpg" alt="">
      </div>
      <div class="picture mix tourists nature" >
        <img class="picture__img" src="img/picture-5.jpg" alt="">
      </div>
      <div class="picture mix tourists picture--large profes">
        <img class="picture__img" src="img/picture-6.jpg" alt="">
      </div>
      <div class="picture mix nature">
        <img class="picture__img" src="img/picture-7.jpg" alt="">
      </div>
      <div class="picture mix nature">
        <img class="picture__img" src="img/picture-8.jpg" alt="">
      </div>
      <div class="picture mix profes picture--large">
        <img class="picture__img" src="img/picture-9.jpg" alt="">
      </div>
    </div>
    <button class="gallery__more btn">Показать еще</button>
  </div>
</section>
