<section class="gallery">
  <div class="container">
    <h2 class="gallery__title title">
      Галерея
    </h2>
    <ul class="sorting">
      <li class="sorting__item">
        <button class="sorting__btn" type="button" data-filter="all">Все</button>
      </li>
      <li class="sorting__item">
        <button class="sorting__btn" type="button" data-filter=".tourists">Туристы</button>
      </li>
      <li class="sorting__item">
        <button class="sorting__btn" type="button" data-filter=".nature">Природа</button>
      </li>
      <li class="sorting__item">
        <button class="sorting__btn" type="button" data-filter=".profes">Профи</button>
      </li>
    </ul>
    <ul class="gallery__inner">
      <li class="picture mix tourists picture--large">
        <img class="picture__img" src="img/picture-1.jpg" alt="Сёрфинг на волнах">
      </li>
      <li class="picture mix tourists">
        <img class="picture__img" src="img/picture-2.jpg" alt="Ребёнок">
      </li>
      <li class="picture mix tourists profes">
        <img class="picture__img" src="img/picture-3.jpg" alt="Сёрфер">
      </li>
      <li class="picture mix tourists profes">
        <img class="picture__img" src="img/picture-4.jpg" alt="Девушки">
      </li>
      <li class="picture mix tourists nature">
        <img class="picture__img" src="img/picture-5.jpg" alt="Волны">
      </li>
      <li class="picture mix tourists picture--large profes">
        <img class="picture__img" src="img/picture-6.jpg" alt="Девушка">
      </li>
      <li class="picture mix nature">
        <img class="picture__img" src="img/picture-7.jpg" alt="Пейзаж">
      </li>
      <li class="picture mix nature">
        <img class="picture__img" src="img/picture-8.jpg" alt="Машина хиппи">
      </li>
      <li class="picture mix profes picture--large">
        <img class="picture__img" src="img/picture-9.jpg" alt="Сёрфер на волнах">
      </li>
    </ul>
    <button class="gallery__more btn" type="button">Показать еще</button>
  </div>
</section>
