<section class="indicators">
  <div class="container">
    <h2 class="visually-hidden">Wawe в цифрах</h2>
    <ul class="indicators__items">
      <li class="indicators__item">
        450<span class="indicators__text">туристов</span>
      </li>
      <li class="indicators__item">
        2500<span class="indicators__text">часов катания</span>
      </li>
      <li class="indicators__item">
        10<span class="indicators__text">проф. тренеров</span>
      </li>
      <li class="indicators__item">
        365<span class="indicators__text">дней в году</span>
      </li>
    </ul>
  </div>
</section>
