<section class="info">
  <div class="container">
    <h2 class="visually-hidden">Wawe в цифрах</h2>
    <ul class="info__items">
      <li class="info__item">
        450<span class="info__text">туристов</span>
      </li>
      <li class="info__item">
        2500<span class="info__text">часов катания</span>
      </li>
      <li class="info__item">
        10<span class="info__text">проф. тренеров</span>
      </li>
      <li class="info__item">
        365<span class="info__text">дней в году</span>
      </li>
    </ul>
  </div>
</section>
