<section class="program">
  <div class="container">
    <h2 class="program__title title">
      в школе вы получите
      <svg>
        <use xlink:href="img/sprite.svg#slash"></use>
      </svg>
    </h2>
    <ul class="services">
      <li class="services__item">
        <h3 class="services__title">
          <img src="img/sun.svg" width="55" height="50" alt="" aria-hidden="true">
          проживание
        </h3>
        <p class="services__descr">
          Наша школа серфинга находится в 100 м от океанского побережья. К услугам гостей открытый бассейн и бесплатный
          Wi-Fi. Из верхней террасы открывается вид на океан. Расстояние до центра города 15 мин.
        </p>
      </li>
      <li class="services__item">
        <h3 class="services__title">
          <img src="img/plane.svg" width="50" height="50" alt="" aria-hidden="true">
          перелет и страховку
        </h3>
        <p class="services__descr">
          Все участники программы застрахованы страховой компанией Allianz.
        </p>
        <p class="services__descr">
          Перелет из Тенерифе до острова Лансароте и обратно входит в стоимость программы.
        </p>
      </li>
      <li class="services__item">
        <h3 class="services__title">
          <img src="img/surf.svg" width="50" height="50" alt="" aria-hidden="true">
          обучение и экипировку
        </h3>
        <p class="services__descr">
          Все оборудование и экипировка известных производителей и предоставляется на весь курс программы. Тренировочный
          процесс начинается с определения вашего уровня катания.
        </p>
      </li>
    </ul>
    <div class="program__info">
      <ul class="numbers">
        <li class="numbers__item">
          <div class="numbers__box">
            <span class="numbers__line numbers__line--first" style="max-width: 200px;"></span>
            <div class="numbers__percent">85%</div>
          </div>
          <p class="numbers__descr">
            Приехали второй раз
          </p>
        </li>
        <li class="numbers__item">
          <div class="numbers__box">
            <span class="numbers__line numbers__line--second" style="max-width: 247px;"></span>
            <div class="numbers__percent">95%</div>
          </div>
          <p class="numbers__descr">
            Научились кататься
          </p>
        </li>
        <li class="numbers__item">
          <div class="numbers__box">
            <span class="numbers__line numbers__line--third" style="max-width: 293px;"></span>
            <div class="numbers__percent">99%</div>
          </div>
          <p class="numbers__descr">
            Довольных клиентов
          </p>
        </li>
      </ul>
      <div class="program__description">
        <p class="program__text">
          Огромным преимуществом нашей школы является собственная методика обучения. Мы разработали собственный стиль
          обучения серфингу, который позволяет новичкам максимально быстро встать на доску.
        </p>
        <p class="program__text">
          Именно наша методика и наши преподаватели позволили нам пройти аттестацию Федерации серфинга Канарских
          островов - FEDERACIÓN CANARIA DE SURF. Это означает, что наша школа соответствует всем мировым стандартам. Переаттестация производится ежегодно и это позволяет нам всегда стремиться к улучшению обучения.
        </p>
      </div>
    </div>
  </div>
</section>
