<section class="service-packages" id="price">
  <div class="container">
    <h2 class="service-packages__title title">
      Пакеты услуг
    </h2>
    <div class="service-packages__inner">
      <div class="card">
        <h3 class="card__title">
          Стандарт
        </h3>
        <ul class="card__list">
          <li class="card__item">
            Проживание на вилле 6 ночей
          </li>
          <li class="card__item">
            Номер категории стандарт
          </li>
          <li class="card__item">
            Экипировка для обучения
          </li>
          <li class="card__item">
            Обучение серфингу 5 тренировок по 2 часа
          </li>
          <li class="card__item">
            Страховка
          </li>
          <li class="card__item">
            Вечеринка с угощениями и дискотекой
          </li>
        </ul>
        <div class="card__price">
          450<span class="card__price-currency">$</span>
        </div>
      </div>
      <div class="card">
        <h3 class="card__title">
          Все включено
        </h3>
        <ul class="card__list">
          <li class="card__item">
            Проживание на вилле 6 ночей
          </li>
          <li class="card__item">
            Номер категории люкс
          </li>
          <li class="card__item">
            Экипировка для обучения
          </li>
          <li class="card__item">
            Обучение серфингу 8 тренировок по 2 часа
          </li>
          <li class="card__item">
            Страховка
          </li>
          <li class="card__item">
            Вечеринка с угощениями и дискотекой
          </li>
          <li class="card__item">
            Авиа перелет Тенерифе -Лансароте - Тенерифе
          </li>
          <li class="card__item">
            Завтраки на вилле
          </li>
        </ul>
        <div class="card__price">
          950<span class="card__price-currency">$</span>
        </div>
      </div>
      <div class="card">
        <h3 class="card__title">
          Профи
        </h3>
        <ul class="card__list">
          <li class="card__item">
            Проживание на вилле 8 ночей
          </li>
          <li class="card__item">
            Номер категории люкс
          </li>
          <li class="card__item">
            Экипировка для обучения
          </li>
          <li class="card__item">
            Обучение серфингу 16 тренировок по 2 часа
          </li>
          <li class="card__item">
            Страховка
          </li>
          <li class="card__item">
            Вечеринка с угощениями и дискотекой
          </li>
          <li class="card__item">
            Авиа перелет Тенерифе -Лансароте - Тенерифе
          </li>
          <li class="card__item">
            Завтраки и ужины на вилле
          </li>
        </ul>
        <div class="card__price">
          1450<span class="card__price-currency">$</span>
        </div>
      </div>
    </div>
  </div>
</section>
