<section class="teams" id="team">
  <div class="container">
    <h2 class="teams__title title">
      Наша команда
    </h2>
    <ul class="teams__inner">
      <li class="team">
        <div class="team__avatar">
          <img class="team__avatar-img" src="img/team-1.jpg" alt="Главный инструктор Майк">
        </div>
        <p class="team__name">Mike</p>
        <p class="team__descr">Главный инструктор</p>
      </li>
      <li class="team">
        <div class="team__avatar">
          <img class="team__avatar-img" src="img/team-2.jpg" alt="инструктор Мэри">
        </div>
        <p class="team__name">Mary</p>
        <p class="team__descr">инструктор</p>
      </li>
      <li class="team">
        <div class="team__avatar">
          <img class="team__avatar-img" src="img/team-3.jpg" alt="инструктор Ольга">
        </div>
        <p class="team__name">Ольга</p>
        <p class="team__descr">инструктор</p>
      </li>
    </ul>
  </div>
</section>
