<section class="teams" id="teams">
  <div class="container">
    <h2 class="teams__title title">
      Наша команда
      <svg>
        <use xlink:href="img/sprite.svg#slash"></use>
      </svg>
    </h2>
    <div class="teams__inner">
      <div class="team">
        <div class="team__avatar" style=background-image:url(img/team-1.jpg);></div>
        <p class="team__name">Mike</p>
        <p class="team__descr">Главный инстуктор</p>
      </div>
      <div class="team">
        <div class="team__avatar" style=background-image:url(img/team-2.jpg);></div>
        <p class="team__name">Mary</p>
        <p class="team__descr">инстуктор</p>
      </div>
      <div class="team">
        <div class="team__avatar" style=background-image:url(img/team-3.jpg);></div>
        <p class="team__name">Ольга</p>
        <p class="team__descr">инстуктор</p>
      </div>
    </div>
  </div>
</section>
