<footer class="footer" id="contacts">
  <div class="container">
    <h2 class="footer__title title">
      Оставить заявку
    </h2>
    <div class="footer__inner">
      <div class="footer__form">
        <form class="form" method="POST">
          <label>
            <input class="form__field" type="text" name="Name" placeholder="Имя" required>
          </label>
          <label>
            <input class="form__field" id="phone" type="tel" name="Phone" placeholder="Телефон" required>
          </label>
          <label>
            <textarea class="form__field" name="Message"
              placeholder="Оставьте сообщение, и мы свяжемся с Вами в ближайшее время" required></textarea>
          </label>
          <button class="form__btn btn" type="submit">Отправить</button>
        </form>
      </div>
      <address class="contacts">
        <div class="contacts__text">
          <p>Есть вопрос?</p>
          <p>Вы можете связаться с нами:</p>
        </div>
        <div class="contacts__text">
          <p>
            WhatsApp, Viber, Telegram
          </p>
          <a class="contacts__phone" href="tel:34674863788">+3 467 486-37-88</a>
        </div>
        <div class="contacts__text">
          <p>
            Avenida grandes playas 79,
          </p>
          <p>
            Corralejo la Oliva Fuerteventura,
          </p>
          <p>
            Spain. 35660
          </p>
        </div>
      </address>
    </div>
    <ul class="social">
      <li class="social__item">
        <a class="social__link" href="https://www.instagram.com/?hl=ru">instagram</a>
      </li>
      <li class="social__item">
        <a class="social__link" href="https://ru-ru.facebook.com/">facebook</a>
      </li>
      <li class="social__item">
        <a class="social__link" href="https://www.youtube.com/">youtube</a>
      </li>
    </ul>
  </div>
  <div class="footer__copy">
    <div class="container">
      <a class="logo">
        <img class="logo__image" src="img/logo.svg" alt="Логотип Wawe">
      </a>
    </div>
  </div>
</footer>
