html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "asd", sans-serif;
  letter-spacing: 0.6px;
  color: var(--color-main);
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  @include visually-hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: var(--grid-gap);
}

.title {
  position: relative;
  margin: 0;
  font: var(--semibold-font);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-cyprus);

  svg {
    position: absolute;
    width: 48px;
    height: 85px;
  }
}
