html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: var(--normal-font);
  letter-spacing: 0.6px;
  color: var(--color-main);
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-container {
  overflow: hidden;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: var(--grid-gap);
}

.title {
  position: relative;
  display: table;
  margin: 0 auto;
  margin-bottom: 100px;
  font: var(--semibold-font);
  text-transform: uppercase;
  color: var(--color-cyprus);

  &::after {
    content: "";
    position: absolute;
    right: -45px;
    top: 25px;
    width: 48px;
    height: 52px;
    background: center/cover no-repeat url("../img/slash.svg");

    @include tablet {
      right: -35px;
      top: 17px;
      width: 38px;
      height: 42px;
    }

    @include small-tablet {
      right: -25px;
      top: 13px;
      width: 30px;
      height: 30px;
    }

    @include mobile {
      right: -15px;
      top: 9px;
      width: 20px;
      height: 20px;
    }
  }

  @include tablet {
    font-size: 38px;
  }

  @include small-tablet {
    margin-bottom: 70px;
    font-size: 28px;
  }

  @include mobile {
    margin-bottom: 50px;
    font-size: 20px;
  }
}

.btn {
  border: 1px solid var(--color-silver);
  padding: 25px 96px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-main);
  background-color: var(--color-white);
  transition: background-color 0.3s ease-in-out;

  @include desktop {
    &:focus,
    &:hover {
      background-color: var(--color-alabaster);
    }
  }

  @include mobile {
    width: 100%;
    font-size: 20px;
  }
}
