:root {
  --color-black: #000;
  --color-white: #fff;
  --color-main: #242121;
  --color-firefly: #0d302c;
  --color-cyprus: #01353e;
  --color-persian: #00b2a0;
  --color-alabaster: #f8f8f8;
  --color-silver: #c4c4c4;

  // шрифты
  --font-raleway: "raleway", sans-serif;
  --font-condensed: "Roboto Condensed", sans-serif;
  --light-font: 300 14px / 1.28 var(--font-condensed);
  --normal-font: 400 24px / 1.2 var(--font-condensed);
  --italic-font: italic 600 36px / 40px var(--font-condensed);
  --semibold-font: 600 48px / 1.17 var(--font-raleway);
  --bold-font: 700 64px / 1.17 var(--font-condensed);
}
